PORT=8000
MONGODB_URI=mongodb://prapti:prapti123@ac-raq5t6v-shard-00-00.ulbukzq.mongodb.net:27017,ac-raq5t6v-shard-00-01.ulbukzq.mongodb.net:27017,ac-raq5t6v-shard-00-02.ulbukzq.mongodb.net:27017/?ssl=true&replicaSet=atlas-e6a01g-shard-0&authSource=admin&appName=Cluster0